# --- Doxygen Output ---
# We ignore the local docs folder because GitHub Actions will 
# generate this automatically in the cloud.
docs/
html/
latex/

# --- Compilation Artifacts ---
# Ignore executable files (no extension on Linux/Mac, .exe on Windows)
*.out
*.exe
*.o
*.obj

# --- IDE & System Files ---
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# --- Build Directories ---
# If we automate build using make some tools alike
build/
bin/